pkgbase = claude-desktop-official
	pkgdesc = Claude Desktop Client (Stable Release Channel)
	pkgver = 1.24012.0
	pkgrel = 1
	url = https://claude.com/download
	arch = x86_64
	license = LicenseRef-proprietary
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libcap-ng
	depends = libcups
	depends = libseccomp
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	optdepends = nodejs: Core runtime layer to execute JavaScript/TypeScript MCP extensions
	optdepends = python: Layer to execute Python-based MCP extension servers
	optdepends = qemu-desktop: Required for Cowork/Computer Use sandboxed microVM isolation
	optdepends = virtiofsd: Provides host-to-guest shared folder mounting paths under QEMU isolation
	options = !emptydirs
	options = !strip
	source = https://downloads.claude.ai/claude-desktop/apt/stable/pool/main/c/claude-desktop/claude-desktop_1.24012.0_amd64.deb
	sha512sums = 60e845ea6fa60526146fbc05bce64abea1607a575dfe750e96798e7be2aee3d11dd05b6af8c3d9719a237f94825c3f6d97254c10a6a48a29363ebf20290ed5e1

pkgname = claude-desktop-official
